<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Users</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/popper/2.11.8/popper.min.js"
          th:src="@{/lib/popper/2.11.8/popper.min.js}"></script>
  <script src="../../static/lib/jquery-typewatch.js"
          th:src="@{/lib/jquery-typewatch.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <!--suppress ThymeleafVariablesResolveInspection -->
  <div th:if="${rmsg != null}"
       class="alert alert-success"
       th:class="${rmsg != null} ? ${rmsg.msgType.cssClass} : ''" role="alert"
       th:text="${rmsg != null} ? ${rmsg.msg} : ''">
    Status message
  </div>

  <div th:if="${groupEditRequest != null}">
    <div class="d-flex justify-content-center">
      <h3 class="small">Edit group</h3>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <h3 th:text="${groupEditRequest.oldSamAccountName}">Domain Users</h3>
    </div>

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span class="fa fa-edit" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-edit-members.html"
           th:href="@{group-edit-members(name=${groupEditRequest.oldDn},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-people-group" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="group-edit-memberships-direct.html"
           th:href="@{group-edit-memberships-direct(name=${groupEditRequest.oldDn},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-folder-tree" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
           th:classappend="${groupEditRequest.group.sid.systemEntity} ? 'disabled' : ''"
           th:attr="aria-disabled=${groupEditRequest.group.sid.systemEntity}"
           th:href="@{group-edit-misc(name=${groupEditRequest.oldDn},page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}">
          <span class="fa fa-trash-alt" aria-hidden="true"></span>
        </a>
      </li>
    </ul>

    <form th:action="@{group-edit}" th:object="${groupEditRequest}" action="#" method="post"
          class="mx-0 mx-sm-1 mx-md-3">

      <input type="hidden" name="page" th:value="${page}"/>
      <input type="hidden" name="size" th:value="${size}"/>
      <input type="hidden" name="sort" th:value="${sort}"/>
      <input type="hidden" name="q" th:value="${q}"/>
      <input type="hidden" name="ou" th:value="${ou}"/>
      <input type="hidden" name="scope" th:value="${scope}"/>

      <input type="hidden" name="oldDn" th:field="*{oldDn}"/>
      <input type="hidden" name="oldSamAccountName" th:field="*{oldSamAccountName}"/>

      <input type="hidden" name="distinguishedName" th:field="*{group.distinguishedName}"/>

      <div class="mb-3">
        <label for="newOu" class="form-label">Organizational Unit</label>
        <select id="newOu" class="form-select" aria-label="Organizational Unit"
                aria-describedby="newOuValidation"
                th:classappend="${#fields.hasErrors('newOu')} ? 'is-invalid' : ''"
                th:field="*{newOu}">
          <option th:each="o : ${ous}" th:value="${o.distinguishedName}" th:text="${o.nameTree}">
            Users
          </option>
        </select>
        <div id="newOuValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('newOu')} ? ${#fields.errors('newOu')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="samAccountName" class="form-label">Group name</label>
        <input type="text" class="form-control" id="samAccountName" name="samAccountName"
               aria-describedby="samAccountNameValidation" required th:field="*{group.samAccountName}"
               th:classappend="${#fields.hasErrors('group.samAccountName')} ? 'is-invalid' : ''"/>
        <div id="samAccountNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('group.samAccountName')} ? ${#fields.errors('group.samAccountName')[0]} : ''">
        </div>
      </div>

      <div class="row mb-3" th:if="${groupEditRequest.group.groupType.groupType.scope != null}">
        <div class="col">
          <label for="groupScope" class="form-label">Group scope</label>
          <input type="text" class="form-control" id="groupScope" disabled
                 th:value="${groupEditRequest.group.groupType.groupType.scope}" />
        </div>
        <div class="col">
          <label for="groupPurpose" class="form-label">Group purpose</label>
          <input type="text" class="form-control" id="groupPurpose" disabled
                 th:value="${groupEditRequest.group.groupType.groupType.purpose}" />
        </div>
      </div>

      <div class="mb-3" th:if="${groupEditRequest.group.groupType.groupType.scope == null}">
        <label for="groupType" class="form-label">Group type</label>
        <input type="number" class="form-control" id="groupType" name="groupType" disabled
               value="1234" th:value="${groupEditRequest.group.groupType.groupTypeValue}" />
        <div class="small text-secondary mt-2">
          Group type is unknown.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email"
               aria-describedby="emailValidation" th:field="*{group.email}"
               th:classappend="${#fields.hasErrors('group.email')} ? 'is-invalid' : ''"/>
        <div id="emailValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('group.email')} ? ${#fields.errors('group.email')[0]} : ''">
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description"
               th:field="*{group.description}" />
      </div>

      <div th:if="${rfc2307Enabled}">
        <div class="mb-3">
          <label for="gidNumber" class="form-label">
            Group's Unix/RFC2307 GID number
          </label>
          <input type="number" class="form-control" id="gidNumber" name="gidNumber"
                 aria-describedby="gidNumberValidation" th:field="*{group.gidNumber}"
                 th:classappend="${#fields.hasErrors('group.gidNumber')} ? 'is-invalid' : ''"/>
          <div id="gidNumberValidation" class="invalid-feedback"
               th:text="${#fields.hasErrors('group.gidNumber')} ? ${#fields.errors('group.gidNumber')[0]} : ''">
          </div>
        </div>

        <div class="mb-3">
          <label for="nisDomain" class="form-label">
            Group's Unix/RFC2307 NIS domain
          </label>
          <input type="text" class="form-control" id="nisDomain"
                 name="nisDomain" th:field="*{group.nisDomain}" />
        </div>
      </div> <!-- end of rfc2307Enabled -->

      <button type="submit" class="btn btn-primary mt-3">
        Update
      </button>
      <a href="groups.html" th:href="@{groups(page=${page},size=${size},sort=${sort},q=${q},ou=${ou},scope=${scope})}"
         class="btn btn-secondary ml-3 mt-3" role="button">
        Cancel
      </a>
    </form>
  </div>
</main>
</body>
</html>