<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Users</title>
  <link rel="stylesheet" href="../../static/lib/bootstrap/5.3.3/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/5.3.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/bootstrap-social/5.1.1/bootstrap-social.css"
        th:href="@{/lib/bootstrap-social/5.1.1/bootstrap-social.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/fontawesome.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/fontawesome.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/brands.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/brands.min.css}"/>
  <link rel="stylesheet" href="../../static/lib/fontawesome/6.5.2/css/solid.min.css"
        th:href="@{/lib/fontawesome/6.5.2/css/solid.min.css}"/>
  <link rel="stylesheet" href="../../static/css/app.css"
        th:href="@{/css/app.css}"/>
  <link rel="stylesheet" href="../../static/css/glyphicons.css"
        th:href="@{/css/glyphicons.css}"/>
  <script src="../../static/lib/jquery/jquery-3.7.1.min.js"
          th:src="@{/lib/jquery/jquery-3.7.1.min.js}"></script>
  <script src="../../static/lib/bootstrap/5.3.3/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/header :: header}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bremersee.org</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
    </div>
  </div>
</nav>
<main role="main" class="container">

  <div class="pb-3">
    <h3>Add User</h3>
  </div>

  <div>
    <form th:action="@{user-add}" th:object="${user}" action="#" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <input type="hidden" name="page" th:value="${page}"/>
      <input type="hidden" name="size" th:value="${size}"/>
      <input type="hidden" name="sort" th:value="${sort}"/>
      <input type="hidden" name="q" th:value="${q}"/>

      <div class="form-group">
        <label for="userName" th:text="#{i18n.user.name}">User name</label>
        <input type="text" class="form-control"
               th:classappend="${#fields.hasErrors('userName')} ? 'is-invalid' : ''"
               id="userName" name="userName"
               aria-describedby="userNameValidation"
               required
               th:field="*{userName}"/>
        <div id="userNameValidation" class="invalid-feedback"
             th:text="${#fields.hasErrors('userName')} ? ${#fields.errors('userName')[0]} : ''">
        </div>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="enabled"  name="enabled"
               th:field="*{accountControl.enabled}" />
        <label class="form-check-label" for="enabled" th:text="#{i18n.enabled}">
          Enabled
        </label>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control"
               id="lastName" name="lastName"
               th:field="*{lastName}"/>
      </div>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control"
               id="firstName" name="firstName"
               th:field="*{firstName}"/>
      </div>

      <div class="form-group">
        <label for="email" th:text="#{i18n.email.address}">Email Address</label>
        <input type="email" class="form-control"
               th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
               id="email" name="email"
               th:field="*{email}"
               onkeyup="document.getElementById('sendEmail').disabled = !this.value.includes('@')"
               onfocusout="document.getElementById('sendEmail').disabled = !this.value.includes('@')"/>
        <small id="emailHelp" class="form-text text-muted"
               th:class="${#fields.hasErrors('email')} ? 'invalid-feedback' : 'form-text text-muted'"
               >
          Please enter the email address of the user.
        </small>
        <div class="invalid-feedback"
             th:text="${#fields.hasErrors('email')} ? ${#fields.errors('email')[0]} : ''">
        </div>
      </div>

      <div class="form-group">
        <label for="mobile">
          Mobile number
        </label>
        <input id="mobile" name="mobile" class="form-control" type="text"
               th:class="${#fields.hasErrors('mobile')} ? 'form-control is-invalid' : 'form-control'"
               th:field="*{mobile}"/>
        <small id="mobileHelp" class="form-text text-muted"
               th:class="${#fields.hasErrors('mobile')} ? 'invalid-feedback' : 'form-text text-muted'"
               >
          Please enter the mobile number.
        </small>
        <div class="invalid-feedback"
             th:text="${#fields.hasErrors('mobile')} ? ${#fields.errors('mobile')[0]} : ''">
        </div>
      </div>

      <div class="form-group">
        <label for="telephoneNumber">
          Telephone number
        </label>
        <input id="telephoneNumber" name="telephoneNumber" class="form-control" type="text"
               th:class="${#fields.hasErrors('telephoneNumber')} ? 'form-control is-invalid' : 'form-control'"
               th:field="*{telephoneNumber}"/>
        <small id="telephoneNumberHelp" class="form-text text-muted"
               th:class="${#fields.hasErrors('telephoneNumber')} ? 'invalid-feedback' : 'form-text text-muted'"
        >
          Please enter the telephone number.
        </small>
        <div class="invalid-feedback"
             th:text="${#fields.hasErrors('telephoneNumber')} ? ${#fields.errors('telephoneNumber')[0]} : ''">
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control"
               id="description" name="description"
               th:field="*{description}"/>
      </div>

      <div class="form-check mb-3" id="sendEmailDiv"> <!--  th:style=" ${#strings.isEmpty(user.email)} ? 'display: none' : 'display: block'" -->
        <input class="form-check-input" type="checkbox" id="sendEmail" name="sendEmail"
               th:disabled="${#strings.isEmpty(user.email)}"
               th:checked="${sendEmail}"
               onchange="this.checked ? document.getElementById('passwordDiv').style.display = 'none' : document.getElementById('passwordDiv').style.display = 'block'"
        />
        <label class="form-check-label" for="sendEmail">
          Send email
        </label>
      </div>

      <div class="form-group" id="passwordDiv"
           th:style="${sendEmail} ? 'display: none' : 'display: block'">
        <label for="password">
          Password
        </label>
        <input id="password" name="password" class="form-control" type="text"
               th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
               th:field="*{password}"
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,75}$"
               th:pattern="${passwordPattern}"/>
        <small id="passwordHelp" class="form-text text-muted"
               th:class="${#fields.hasErrors('password')} ? 'invalid-feedback' : 'form-text text-muted'"
        >
          Please enter your new password. It must be between 8 and 75 characters in length and must
          include at least one upper case letter, one lower case letter, and one numeric digit.
        </small>
        <div class="invalid-feedback"
             th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')[0]} : ''">
        </div>
      </div>

      <!--
      <div class="form-group">
        <label for="homeDirectory">Home directory</label>
        <input type="text" class="form-control"
               id="homeDirectory" name="homeDirectory"
               readonly
               th:field="*{homeDirectory}"/>
      </div>

      <div class="form-group">
        <label for="unixHomeDirectory">Unix home directory</label>
        <input type="text" class="form-control"
               id="unixHomeDirectory" name="unixHomeDirectory"
               readonly
               th:field="*{unixHomeDirectory}"/>
      </div>

      <div class="form-group">
        <label for="loginShell">Login shell</label>
        <input type="text" class="form-control"
               id="loginShell" name="loginShell"
               readonly
               th:field="*{loginShell}"/>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title">Groups</div>
          <div class="form-check" th:each="group,iter : ${groups}">
            <input th:id="'group-' + ${iter.index}" id="groups"
                   th:name="'group-' + ${iter.index}" name="groups"
                   type="checkbox" class="form-check-input"
                   th:field="*{groups}"
                   th:value="${group.value}" th:checked="${group.selected}" />
            <label th:for="'group-' + ${iter.index}"  for="groups"
                   th:text="${group.displayValue}"></label>
          </div>
        </div>
      </div>
      -->

      <button type="submit" class="btn btn-primary mt-3">
        Update
      </button>
      <a href="users.html" th:href="@{/admin/users(page=${page},size=${size},sort=${sort},q=${q})}"
         class="btn btn-secondary ml-3 mt-3" role="button">
        Cancel
      </a>
    </form>
  </div>
</main>
</body>
</html>